<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav"> 

                 {{#if usuario}}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TAREAS
                    </a>
                   
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/tarea/listar">LISTAR TAREA</a>
                        <a class="dropdown-item" href="/tarea/formulario">AGREGAR TAREA</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/usuario/desloguear">LOGOUT</a>
                    </div>
                </li>
                {{else}}
                 <li class="nav-item">
                    <a class="nav-link" href="/usuario/formularioLogin">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuario/formularioRegistro">REGISTRAR</a>
                </li>
            
            {{/if}}
            </ul>
           
               

        </div>
    </div>
</nav>